<?xml version="1.0"?>
<config>
	<modules>
		<Anny_Hotspotter>
			<version>0.1.3</version>
			<platform>ce</platform>
		</Anny_Hotspotter>
	</modules>
	<global>
		<blocks>
			<hotspotter>
				<class>Anny_Hotspotter_Block</class>
			</hotspotter>
		</blocks>
		<helpers>
			<hotspotter>
				<class>Anny_Hotspotter_Helper</class>
			</hotspotter>
		</helpers>
		<models>
			<hotspotter>
				<class>Anny_Hotspotter_Model</class>
			</hotspotter>
		</models>
	</global>
	<adminhtml>
		<events>
			<adminhtml_block_html_before>
				<observers>
					<hotspot_prepare_admin_form>
						<type>singleton</type>
						<class>Anny_Hotspotter_Model_Observer</class>
						<method>prepareAdminForm</method>
					</hotspot_prepare_admin_form>
				</observers>
			</adminhtml_block_html_before>
			<widget_widget_instance_save_before>
				<observers>
					<hotspot_upload_image>
						<type>singleton</type>
						<class>Anny_Hotspotter_Model_Observer</class>
						<method>uploadImage</method>
					</hotspot_upload_image>
				</observers>
			</widget_widget_instance_save_before>
		</events>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<hotspotter>
					<file>hotspotter.xml</file>
				</hotspotter>
			</updates>
		</layout>
	</frontend>
</config>
